@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  //colors
  --pokeball-red: #e03d31;
  --pokeball-outline: #464646;
  --pokeball-white: #fefeff;
  --pokeball-button-size: 0.8rem;
  --pokeball-spacing: 0.3rem;
  //font
  --small-font: 0.8rem;
  --x-small-font: 0.6rem;
  //utils
  --border-rounded: 5px;
}
